* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;

    display: flex;
}

#header {
    border-top-right-radius: 64px;

    writing-mode: sideways-lr;
    font-size: 8rem;
    font-weight: bold;

    line-height: 0.67;
    letter-spacing: -0.5rem;
    background-color: #ac9d8e;
    color: white;
}

#content {
    height: 100vh;
    padding: 0px;

    flex: 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#board {
    margin: 0 auto;

    flex: 0 95vh;
    aspect-ratio: 1 / 1;
    transform: rotate(4deg);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    text-align: center;
}
