* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;

    display: flex;
}

#header {
    border-top-right-radius: 64px;

    writing-mode: sideways-lr;
    font-size: 8rem;
    font-weight: bold;

    line-height: 0.67;
    letter-spacing: -0.5rem;
    background-color: #ac9d8e;
    color: white;
}

#content {
    height: 100vh;
    padding: 0px;

    flex: 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#board {
    margin: 0 auto;

    flex: 0 95vh;
    aspect-ratio: 1 / 1;
    transform: rotate(2deg);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    --board-border: 8px dotted gainsboro;
}

.cell {
    text-align: center;
}

.player {
    background-image: url("../images/circle-outline.svg");
}

.computer {
    background-image: url("../images/alpha-x.svg");
}

.winner {
    background-color: lightpink;
    background-clip: padding-box;
}

.loser {
    background-color: lightgray;
    opacity: 20%;
}

#_0 {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
}

#_1 {
    border-bottom: var(--board-border);
}

#_2 {
    border-left: var(--board-border);
    border-bottom: var(--board-border);
}

#_3 {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
}

#_4 {
    border-bottom: var(--board-border);
}

#_5 {
    border-left: var(--board-border);
    border-bottom: var(--board-border);
}

#_6 {
    border-right: var(--board-border);
}

#_8 {
    border-left: var(--board-border);
}

#restart {
    height: 48px;
    border-radius: 50%;
    padding: 6px;
    margin: 24px;

    position: fixed;
    right: 0;
    bottom: 0;

    box-shadow: 0px 3px 5px gray;
}

#restart:hover {
    background-color: gainsboro;
    transition: 50ms;
}

#restart:active {
    margin-bottom: 20px;

    box-shadow: 0px 1px 3px gray;
}
