* {
    box-sizing: border-box;

    font-family: "Roboto", sans-serif, system-ui;
}

body {
    padding: 0px;
    margin: 0px;

    display: flex;
}

#header {
    border-top-right-radius: 64px;

    writing-mode: sideways-lr;
    font-size: 8rem;
    font-weight: bold;

    line-height: 0.67;
    letter-spacing: -0.5rem;
    background-color: #f1b68c;
    color: white;
}

#content {
    height: 100vh;
    padding: 0px;

    flex: 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#board {
    margin: 0 auto;

    flex: 0 95vh;
    aspect-ratio: 1 / 1;
    transform: rotate(2deg);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    --board-border: 8px dotted gainsboro;
}

.cell {
    text-align: center;
}

.player {
    background-image: url("../images/circle-outline.svg");
}

.computer {
    background-image: url("../images/alpha-x.svg");
}

.winner {
    background-color: lightpink;
    background-clip: padding-box;
}

.loser {
    background-color: lightgray;
    opacity: 20%;
}

#_0 {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
}

#_1 {
    border-bottom: var(--board-border);
}

#_2 {
    border-left: var(--board-border);
    border-bottom: var(--board-border);
}

#_3 {
    border-right: var(--board-border);
    border-bottom: var(--board-border);
}

#_4 {
    border-bottom: var(--board-border);
}

#_5 {
    border-left: var(--board-border);
    border-bottom: var(--board-border);
}

#_6 {
    border-right: var(--board-border);
}

#_8 {
    border-left: var(--board-border);
}

#results {
    position: fixed;
    z-index: 10;

    left: 100px;
    bottom: 0px;
}

#desc {
    margin: 0px;
    font-size: 2rem;

    color: lightpink;
    font-weight: bold;
}

#winner {
    border-radius: 0px 64px 64px 0;
    margin: 0px;

    color: white;
    opacity: 100%;

    font-size: 7rem;
}

.display {
    padding: 12px 50px 12px 25px;
    background-color: #f1b68c;
}

.tie {
    background-color: gray;
}

.definitive {
    width: 95vw;
    text-align: center;
}

.finish {
    right: 50%;
    left: 50%;
}

#restart {
    height: 48px;
    border-radius: 50%;
    padding: 6px;
    margin: 24px;
    z-index: 20;

    position: fixed;
    right: 0;
    bottom: 0;

    box-shadow: 0px 3px 5px gray;
}

#restart:hover {
    background-color: gainsboro;
    transition: 50ms;
}

#restart:active {
    margin-bottom: 20px;

    box-shadow: 0px 1px 3px gray;
}

.alert {
    background-color: lightgoldenrodyellow;
}

dialog {
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 30;

    background-color: rgba(255, 255, 255, 0.6);
}

#form-container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    border: 0;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    font-size: 2rem;
}

#name-field {
    font-size: 2rem;

    padding-left: 4px;
    border-radius: 12px;
}

#name-submit {
    align-self: flex-end;

    padding: 6px 12px;
    border-radius: 12px;
    border: 0px;

    font-size: 1.5rem;

    box-shadow: 0px 3px 5px gray;
}

#name-submit:active {
    box-shadow: 0px 1px 3px gray;

    transform: 50ms;
}
